[2015-09-28 14:38] fabiencastan opened #1 "Evaluation & comparison with the 2 major implementations"
- [ ] popSift
 - [x] integrate popsift in openmvg
- [ ] opencv
- [ ] vlfeat

[2016-08-08 16:01] fabiencastan opened #3 "[CI] Add travis"

[2016-08-10 14:58] fabiencastan commented on #1
@lcalvet : this is done, isn't it?

[2016-08-15 20:07] #3 closed

[2016-08-16 11:51] lcalvet commented on #1
Cf. report.

[2016-08-16 11:51] #1 closed

[2016-10-01 12:52] simogasp opened #13 "[cmake] switch to modern cmake"
* [x] proper include and link with visibility (PRIVATE, PUBLIC etc)
* [x] create a PopSiftConfig.cmake to make it reusable into cmake projects
* [x] clean cmakelists
* [x] doc

[2016-10-10 12:46] #13 closed

[2017-01-03 17:34] simogasp opened #15 "release a version 1.0.0"
* [ ] create git tag
* [ ] merge to master

[2017-01-26 12:49] simogasp opened #19 "[ci] add ci for windows"
With appveyor.
Cuda can be installed following this https://github.com/willyd/appveyor-cuda-test

[2017-11-09 19:38] griwodz opened #31 "gauss-mode=relative fails with CUDA CC 3.5"
Runtime failure on MacBook Pro from 2013; Confirmed on a Linux machine with GTX 710.
Strange; "relative" mode uses textures to save a multiplication in Gauss filtering. Texture use is no problem elsewhere in the code.

[2018-01-22 14:45] fabiencastan opened #33 "Add fallback for limiting and sorting keypoints in cuda 7.0"
Could be gpu or cpu but is mandatory for [AliceVision](https://github.com/alicevision/AliceVision) integration.

[2018-03-31 16:50] caomw opened #36 "How to use it on windows machines ?"
I want to use popsift on windows machine.
I have  got the following error:

[2018-03-31 17:09] fabiencastan commented on #36
Which version of boost, cuda and msvc are you using?

There is a dedicated workaround mentioned in this file:
https://www.boost.org/doc/libs/1_66_0/boost/config/compiler/nvcc.hpp
So you should try with a recent version of boost which includes these workarounds.

[2018-03-31 17:10] fabiencastan commented on #33
Done in #35

[2018-03-31 17:10] #33 closed

[2018-04-01 02:08] caomw commented on #36
CUDA 9.0
Boost  1.6.5
MSVS 2015 64 bit

[2018-04-01 14:16] fabiencastan commented on #36
Boost `1.65.0` is not compatible with cuda9, so you need to update boost to `1.66` (or `1.65.1`).

The problem is that in CUDA 9 the macro `__CUDACC_VER__` no longer exists. You can see the difference between:
https://www.boost.org/doc/libs/1_65_0/boost/config/compiler/nvcc.hpp
and
https://www.boost.org/doc/libs/1_66_0/boost/config/compiler/nvcc.hpp

[2018-04-28 07:34] caomw commented on #36
It still can't run on windows 10. Too many errors are encounter.

[2018-04-28 08:17] fabiencastan commented on #36
So you managed to build it? And now you have runtime errors?
Can you copy-paste the error messages?

[2018-06-25 17:07] simogasp commented on #19
connected to #41

[2018-06-25 17:07] #19 closed

[2018-06-28 19:27] KristianZarn opened #47 "GPU memory requirements."
I have a Nvidia GTX 1050 with 2GB memory. In my case PopSift works without problems for images up to `1920x1080` resolution (with default parameters). If the image resolution is any bigger, than i get the following error (sometimes i also get some other errors, but always memory related) :

In order to work with bigger images i tried tweaking some parameters. I set `_max_extrema` parameter to `200

[2018-06-29 07:03] griwodz commented on #47
It would be nice to do something about the memory demand in the long term as well, but at this time, PopSift is written for fast processing of several images, meaning we never de-allocate buffers.

To use it on cards with less memory, your best space-saving option is --downsampling=<float>. Of course, you loose the default upsampling by a factor of 2, (--downsampling=-1 is default) and you find fe

[2018-06-29 17:29] KristianZarn commented on #47
I tried the downsampling and it works for bigger images, but as you said it produces fewer keypoints. Anyways thank you for your reply, i will close the issue.

[2018-06-29 17:29] #47 closed, assigned to nobody

[2018-07-04 02:30] ghost opened #48 "CMake: Should use GNUInstallDirs"
Same as alicevision/AliceVision#430.

https://cmake.org/cmake/help/latest/module/GNUInstallDirs.html

[2018-07-04 02:48] ghost opened #49 "CMake: Demo program not built as PIE"
Caught by rpmlint:

[code]

This happens despite enabling `PopSift_USE_POSITION_INDEPENDENT_CODE`.
CMake 3.11.4.

[2018-07-04 11:01] fabiencastan commented on #49
There is a 4 years old issue about it:
https://gitlab.kitware.com/cmake/cmake/issues/14983

As suggested, we may need to add something like:
[code]

[2018-07-25 13:05] cslayers opened #50 "Missing timing info"
I running the following command to extract sift features,
`popsift-demo -i oht_cfrp_00.tiff --print-time-info`
but the program only return this without time info.

[2018-08-10 05:42] griwodz commented on #50
I broke this when I restructured popsift to execute in 3 asynchronous blocks: image upload, feature extraction, descriptor download. That made it impossible to print one time. I'll look into it.

The most likely solution will be to disable the command line flag unless popsift is created with support for CUDA tracing (NVTX), because that NVTX gives really good resolution timers for CPU and GPU.

[2018-10-12 14:21] lxq2t opened #52 "Non aligned free on Windows"
Hi!
I have some faults on free of popsift::Features (Windows 64), seems to be freed of ori and ext should be called with aligned_free method.

[2018-10-13 07:28] zvrba commented on #52
The problem lies in `memalign` function here: https://github.com/alicevision/popsift/blob/fb5251ea3b4b7e79b06b2b4d4beba75c7e1e8f0d/src/popsift/common/assist.h#L127

The rest of the code uses `memalign` to acquire memory, but the rest of the code uses `free` to free it. On Windows, memalign calls `_aligned_malloc`, and the example in documentation [1] explicitly states that using `free` is illegal)

[2018-10-18 12:22] griwodz commented on #52
Hi,
I changed the two places where free was called on ori and ext. The fix is in [PR53](../pull/53). But I don't have Windows to check myself. Could you try the Pull request?

[2018-12-10 16:52] fabiencastan opened #55 "Gauss kernel initialization: unknown error"
[code]

Does anyone have any idea where this error cames from?

[2019-01-23 22:27] cdblue999 commented on #36
Cant build w/MSVC 2017 Community x64 Win, Boost 1.68, CUDA 9.1

[2019-01-30 07:36] perrywu1989 opened #56 "New issue: when the second input image size is smaller than the first one, feature extracted numbers are different."
New issue: when the second input image size is smaller than the first one, feature extracted numbers  are different.

[First trial]
[Logo Image]:/root/wufangyin/dataset/test/logo2.png
[Logo Size]:[224 x 71]
[Logo Area]:15904
Feature number: 580
[Logo Image]:/root/wufangyin/dataset/test/logo1.png
[Logo Size]:[408 x 96]
[Logo Area]:39168
Feature number: 476

but

[Second trial]
[Logo Image]:/root/wu

[2019-02-22 09:38] cdblue999 opened #57 "MSVS2017 x64 cant build w/vcpkg"
[code]

[2019-04-09 16:15] yann-lty commented on #56
Could you try to build and test #58 to see if this fixes your issue?
Thanks!

[2019-04-16 03:57] #56 closed, assigned to nobody

[2019-05-17 16:02] suruoxi opened #60 "is this implementation thread-safe?"
I'm trying to  execute `get`  method of multiple  SiftJob  object pointers in parallel (with openmp). The  following error occurs:

[code]

So I wonder what's the right way to use popsift in multi-thread mode.

[2019-05-17 17:45] simogasp commented on #60
You must be careful with the number of jobs and the available memory.
You can look at here to see how we use it in a multithreaded feature extractor
https://github.com/alicevision/AliceVision/blob/develop/src/software/pipeline/main_featureExtraction.cpp#L48

This is the method that manages the multithreading for extracting features from multiple images
https://github.com/alicevision/AliceVision/bl

[2019-05-19 14:55] suruoxi commented on #60
@simogasp  Thanks for your comments.   I notice that in the provided code [line 193 to line 203](https://github.com/alicevision/AliceVision/blob/develop/src/software/pipeline/main_featureExtraction.cpp#L194-L203),  only cpu jobs work  at parallel mode while gpu jobs not.  Can the gpu jobs work in parallel mode too?

I  use the following file to perform parallel test.  https://gist.github.com/suruo

[2019-05-19 15:27] fabiencastan commented on #60
For the GPU version, the idea is that you push multiple non-blocking jobs **from a single cpu thread** and they will be computed **in parallel on the gpu**.

[2019-06-24 03:58] zjd1988 commented on #50
Hi @griwodz  when will you fix this bug?

[2019-08-28 05:26] bartoszek opened #63 "testScripts: refernce.tgz - Forbidden access."
Can't run test script as `wget reference.tgz` return error `403` - Forbiddent Access.
https://github.com/alicevision/popsift/blob/0c7ce9db47f5ff8cb853eb35d8c27f56a1e94045/testScripts/downloadOxfordDataset.sh.in#L7

[2019-09-16 13:27] lzx551402 opened #64 "add support to RTX 20 series"
Thank you for releasing this amazing project!

I've noticed that the code works with CUDA10 & GTX 1080Ti properly, whereas RTX 20 series  seems to be incompatible.

Specifically, I tried RTX 2080 with CUDA9 and CUDA10 in the docker container, the program will get stuck at function "ori_par" (L.400 in s_orientation.cu) after calling cudaDeviceSynchronize() (L.427 in s_orientation.cu).

I have also

[2019-11-01 10:09] griwodz commented on #64
Sorry for not replying for an eternity!
Unfortunately, I don't have any RTX card and I don't know what has changed.

My guess is that one of the intrinsic functions (__ballot, __popc) doesn't return because a thread has died after a memory violation. And that's probably in BitonicSort, but that is pure guesswork.

Do you have any time to search for the problem?

[2019-11-01 10:13] griwodz commented on #63
I should probably fix the tests instead, but I've re-opened access to the archive for now.

[2019-11-18 05:10] lzx551402 commented on #64
Thank you for your reply! I will have time to diagnose this issue in the next few weeks, and will keep you informed if it is resolved.

[2019-12-09 09:11] Rodousse commented on #64
Can relate with the RTX 2080,  Nvidia driver 440.33.01 and Cuda 10.2.
Repro case :
* I built the popsift-demo
*  Ran it with the following arguments (Image from [here](https://people.sc.fsu.edu/~jburkardt/data/pgma/pgma.html) ):
```./popsift-demo -i apollonian_gasket.ascii.pgm```
* It crashes with these errors :
[code]
The code was also tested with a Geforce 1080 with the same nvidia driver and cu

[2019-12-09 09:22] lzx551402 commented on #64
@Rodousse I now have made it work with RTX cards. Here is my solution.
1. As pointed out by the authors @griwodz, the problem lies in function "BitonicSort" when estimating the orientation. I couldn't identify what really went wrong with it but I attempted to re-implement this by a simple bubble sorting, and I now can pass the orientation step.
2. Similarly, the program will crash at the descripto

[2019-12-09 10:02] Rodousse commented on #64
@lzx551402 Thanks for the turnaround !
I'll just wait for the fix to be released I think.

[2019-12-10 10:03] griwodz commented on #64
@lzx551402 Thank you very much for finding the origin for the crashes!
I'll probably get a login for a machine with a new Tesla card in the next few days, and I hope that the problem is the same on that one.

[2019-12-17 18:29] griwodz commented on #64
@lzx551402 Thanks for discovering the locations of the RTX 20 bugs. I managed to loan an eGPU with a 2080 and fixed the problem in BitonicSort (just one line using a conditional partial warp xor-shuffle).
If you have the time, you could test the branch dev/fixNewWarp (PR  #66).

I'm not seeing the crash in the descriptor step in loop mode. Can you tell me which parameters you used when it crashed?

[2019-12-17 18:35] griwodz commented on #64
Hmm, I did actually move a bad __syncthreads() out of a loop in s_desc_loop, so that may have fixed the other problem without actually looking for it.

[2019-12-18 05:12] lzx551402 commented on #64
@griwodz thank you so much for fixing the problem! I have just tested both modifications in src/popsift/s_desc_loop.cu and src/popsift/common/warp_bitonic_sort.h, and they have indeed resolved the two issues I have encountered.

[2020-01-02 07:52] #64 closed, assigned to nobody

[2020-02-04 13:18] simogasp opened #70 "Better handle the release of resources"
So far the release of the resources taken by the class `PopSift` relies on an explicit call to the `uninit()` method (mostly for the `Pipe` object contained within).
This is helpful when the object instantiated from PopSift has a broad scope and resources need to be freed explicitly without waiting for the object to go out of scope.
On the other hand, it would be nice that the object is able to au

[2020-02-04 18:38] simogasp commented on #52
closing this as fixed by #53

[2020-02-04 18:38] #52 closed, assigned to griwodz

[2020-02-04 18:42] simogasp commented on #48
coming soon with this 9d99e22f6f26dd528caa0a7c4e5a517444df3e70

[2020-02-24 10:47] simogasp opened #73 "[ci] move travis to Ubuntu Xenial 16.04"
Use Xenial for linux ci testing.

The advantage: we can test against cuda 8, 9, 9.2, 10, 10.2
The downside: we lose the test for 7 and 7.5

Otherwise keeping the current trusty version, we can add 10 and 10.1 (no 9.x)

Ubuntu Bionic 18.04 is also available but only the 10 family is supported (at least for the moment)

What do you think? @fabiencastan @griwodz

[2020-02-24 10:55] griwodz commented on #73
I would be ok with Xenial.

The loss of older CUDA SDKs is not very important if we don't cut off older hardware in the process. The newer SDKs are still all supporting CUDA Compute Capability 3.5 cards, which is the minimum for PopSift. It is relatively easy to install a new SDK and a new driver.

[2020-02-24 14:38] simogasp commented on #57
which cuda version?

[2020-02-24 14:39] simogasp opened #74 "[build] debug broken?"
It seems that the debug build is broken for cuda >= 8

On cuda 8, a **static debug** build [fails (ubuntu 14 on travis)](https://travis-ci.org/alicevision/popsift/jobs/654349503#L1936):

[code]

On a cuda 10.2 **dynamic debug** build I get (ubuntu 18.04):
[code]

For the lattert seems like a linking missing but the only difference between release and debug command line is just the `-G` and `-O3`.

[2020-02-25 08:31] griwodz commented on #74
The 62 must be removed from the PopSift_CUDA_CC_LIST_BASIC. 62 is a Compute Capability for the single-board-computers Tegra and Jetson whose CPUs are ARM. The library that contains the CUDA functions exists only for ARM CPUs and it is therefore impossible to link to it on an x86 CPU.
The correct fix would probably be to make PopSift_CUDA_CC_LIST_BASIC dependent on CPU architecture as well as depen

[2020-02-25 09:07] simogasp commented on #74
Ok, according to this
https://arnon.dk/matching-sm-architectures-arch-and-gencode-for-various-nvidia-cards/
also 35 must go. And indeed without these two the linking error disappear.

Maybe we can use his scheme to determine the CCs based on cuda version (removing the ones that are not supported by popsift).
We can also rely on the function provide by findCuda `CUDA_SELECT_NVCC_ARCH_FLAGS`
https:/

[2020-02-25 10:47] griwodz commented on #74
I think that we should attempt to write a CC selector in a separate file ChooseCudaCC.cmake that considers both minimal CC and host architecture. It could be used in AliceVision as well I'm going to make a PR in PopSift with a first proposal.

The CC 3.5 was used by several mobile cards like 740M and 750M. I don't know if it matters much, but it has never given me any trouble.

[2020-02-25 11:02] griwodz commented on #74
Started the function in PR #75

[2020-02-25 13:09] simogasp commented on #74
Ok sorry my bad, when i tried to remove just 62 it was still failing but maybe it forgot to clean. It works for 35 even on travis
https://travis-ci.org/alicevision/popsift/jobs/654880074

[2020-02-25 14:20] #70 closed, assigned to simogasp

[2020-03-29 13:15] natowi opened #77 "Could not create texture object"
When testing Meshroom with popsift in FeatureExtraction using huge images (12000x9000px)
popsift fails with:

https://github.com/alicevision/popsift/blob/3e624d203d660784ded087700dbe9cb41224c4e1/src/popsift/s_image.cu#L292

I assume this is due to the huge image size that my exceeds the limit. If that is the case, a more informative error message would be useful.

[2020-04-03 03:14] Xel233 commented on #77
I'v got
`Could not destroy texture object: driver shutting down`

[2020-04-03 08:53] natowi commented on #77
@Xel233 only with huge images or with normal sized images, too?

[2020-04-03 10:31] simogasp commented on #77
Should ask @griwodz but it is very likely that there is an upper bound on the size of the images. And a hw limitation too, ie it depends on the size of the RAM of your GPU.

[2020-04-03 10:57] griwodz commented on #77
It is a limitation that comes from CUDA because we use Textures.
Image loading uses linear memory, and the max size for newer cards is 65000x65000.
SIFT octave computation uses CudaArray, and the max size for newer cards is 65536x65535.

These numbers are just from the CUDA page on Wikipedia, but they fit with my experience. The exact number for each card can be found in the cudaDeviceProp structu

[2020-04-03 12:36] fabiencastan commented on #77
Yes, if we have a way to get this information in the popsift API, we could switch to the CPU version on the AliceVision side.

[2020-04-03 12:50] simogasp commented on #77
in AV we have the same check/print in gpu/gpu.cpp
https://github.com/alicevision/AliceVision/blob/develop/src/aliceVision/gpu/gpu.cpp#L68

[2020-04-10 18:44] andrew-hardin opened #80 "testOxfordDataset.sh fails with "BAD" descriptors, keypoints, and features"
I'm hunting for a GPU accelerated version of SIFT that's comparable to existing CPU options. I'm looking at `popsift` because it's marketed as creating similar features to OpenCV or VLFeat. After building `develop`, I ran `make prepare-test` and `make run-test`. A snippet of the output is included below:

[code]

I visually compared two PGM files and verified that they do appear slightly different

[2020-04-11 12:09] simogasp commented on #80
Not that it matters, but are u using the develop or your branch from the PR of removing boost? (just to know how to reproduce etc)

We should ask @griwodz , I remember that at some point there was a bug with the pgm library but it think it should have been solved.

[2020-04-11 20:35] andrew-hardin commented on #80
I was testing the `Release` configuration on `develop` with no modifications (commit `3e624d`).

[2020-04-12 15:08] #48 closed, assigned to simogasp

[2020-04-14 18:31] andrew-hardin opened #83 "[question] popartproject domain redirects to an advertising website"
**Describe the problem**
The [acknowledgements](https://github.com/alicevision/popsift#acknowledgements) section of the root README.md contains a hyperlink that redirects to a NSFW advertising website. May I suggest modifying the URL to something more relevant?

[2020-04-14 18:42] griwodz commented on #83
That was unexpected. I changed it to the EU project web page in PR #84.

[2020-04-20 04:30] #63 closed, assigned to nobody

[2020-04-24 15:31] tic80 opened #88 "[question] image size limitation?"
When running popsift-demo.exe on an 20Mpixels PGM image (5456x3632), I ran into an out of memory error.  The code is compiled on window10 with VC++2019, I use CUDA 10.2 and a GeForce RTX 2080 with 8 GB of RAM.
Do you have a limitation on the size of the image ?
Thanks
[code]

[2020-04-25 00:29] #83 closed, assigned to nobody

[2020-04-29 10:45] griwodz commented on #88
The reason is that CUDA Textures have strict size limits. Until someone adds an alternative code path, the best we can do it giving a better and earlier warning. I propose PR#89 for that.

[2020-04-29 10:47] griwodz commented on #77
I propose PR #89 to give a better and earlier warning. The function can also be used to find out if you can use PopSift for a particular width and height or if you should use a CPU alternative.
Please note that the check depends on the current Config of that PopSift object. Cards with different CCs may have different limits, it's important to cudaSetDevice to the desired one before testing.

[2020-04-30 15:46] tic80 commented on #88
I was looking to the code and it seems that you upscale the image per default by a factor of 2.
If I choose a factor of 1, I have enough memory to extract the features.
_Is there a big impact on accuracy by not upscaling the input image ?_

The out of memory error comes from allocating an 3d array (cudaMalloc3DArray) of
width x upscale x height x upscale x (levels - 1)

Would it be possible to rat

[2020-04-30 17:49] griwodz commented on #88
The upscaling by 2 is the default of the original SIFT paper.
From my understanding of the algorithm, you would lose the highest quality features because you must take the first image, blur it 4 times, then compute the 3 Difference-of-Gaussian layers, and then you can search for feature point candidates in the middle one of those 3. So ... quite a bit of more blurry than the original image. Upscal

[2020-04-30 20:07] fabiencastan commented on #88
You can adjust the SIFT params in `popsift::Config`.
See `setDownsampling`:
https://github.com/alicevision/popsift/blob/8ea03b580655b13a06f74030734f70333d22dfce/src/popsift/sift_conf.h#L104

[2020-04-30 21:11] tic80 commented on #88
@fabiencastan ```config.setDownsampling(0); ``` solves my issue, Thanks

@griwodz  thanks for the explanation, it does make sense.
the first allocation that failed is cudaMalloc3DArray in Octave::alloc_interm_array()
the maximum Surface2dLayered supported by my graphic card is 32768 x 32768 x 2048

[2020-05-01 14:22] #60 closed, assigned to nobody

[2020-05-03 10:13] BruceXSK opened #91 "How to get the coordinate of feature points of popsift::FeaturesDev?"
I want to get the coordinate of feature points after match. So I add `cout << lFeatures->getFeatures()[0].xpos << endl;` to src/application/match.cpp. Then the program broke. It shows Segmentation fault (core dumped).
But I did the same thing to src/application/main.cpp, added `cout << feature_list->_ext[0].xpos << endl;` to `void read_job( SiftJob* job, bool really_write )`, it worked well.
I not

[2020-05-04 14:46] griwodz commented on #91
The FeaturesDev memory exists only in GPU memory, not in the CPU memory. To use the coordinates in the CPU after matching, you must transfer them first.

You could do something like this:
[code]

[2020-05-04 15:18] BruceXSK commented on #91
I tried and it worked! Thank you so much!

[2020-05-04 15:19] #91 closed, assigned to nobody

[2020-05-07 08:54] #88 closed, assigned to nobody

[2020-05-11 11:49] simogasp commented on #74
fixed by #75

[2020-05-11 11:49] #74 closed, assigned to nobody

[2020-05-11 15:52] simogasp commented on #77
closed by #89

[2020-05-11 15:52] #77 closed, assigned to nobody

[2020-05-11 15:55] simogasp commented on #55
I sometimes get a similar error on an MBP when there are other programs running using GPU (typically Chrome). Closing the program(s) makes the system to switch to the integrated graphic card and then I am able use popsift. Probably a memory size limit?

[2020-05-11 15:59] simogasp commented on #73
closed by #78

[2020-05-11 15:59] #73 closed, assigned to simogasp

[2020-05-12 11:36] taketwo commented on #55
I get the same error:

[code]

According to _nvidia-smi_, only 600 MiB out of 8000 MiB on the GPU are occupied by other processes.

[2020-05-12 11:47] simogasp commented on #55
thanks for the report.
I guess we need to call in the big guns :-) @griwodz

[2020-05-12 12:01] taketwo commented on #55
Just a few more data points. Out of curiosity, I commented out that memory copy. This lead to a similar error in uploading SIFT constants:

[code]

Commenting this one out, I hit the next one at:

[code]

[2020-05-12 17:32] griwodz commented on #55
Huh. You are getting different error messages on the K4000 and the RTX 2070. That's weird.

Could you try to move the `__device__ __constant__ GaussInfo d_gauss;` in gauss_filter.cu out of the namespace popsift? Since the binding is symbolic, it is possible that something has changed and the namespace is now a problem.

Another possibility, but I wouldn't know why that should happen if your system

[2020-05-12 17:38] griwodz commented on #55
The amount on constant memory on a CUDA card is quite limited, but all documentation insists that it is because the constant cache size is limited.

Do you have any hints on how I can get recreate the error (on Linux)?

[2020-05-13 09:05] taketwo commented on #55
Hi, thanks for your answer. I've tried both moving `d_gauss` out of the `popsift` namespace and setting device explicitly, all to no avail.

I did not mention before, I am running PopSift in a Docker container. This morning I tried to build and run it on the host system directly, and there were no issues.

Unfortunately, the Docker image I use is proprietary, so I can not share it. Instead, I've t

[2020-05-13 10:18] griwodz commented on #55
Is it possible that your main Docker container uses a different CUDA SDK than the host machine, but your test container uses the same SDK as the host?

Since late CUDA 10, NVidia tries to do something about the compatibility hassle (as they are writing here: [https://docs.nvidia.com/deploy/cuda-compatibility/index.html](https://docs.nvidia.com/deploy/cuda-compatibility/index.html)), but I have not

[2020-05-13 10:36] taketwo commented on #55
My "main" container is based on the `nvidia/cudagl:10.0-devel-ubuntu18.04` image; I used the same one for my "test" container. So both of them have CUDA 10.0. On my host system I used to have 10.2, however this morning I downgraded it to 10.0 just in case. `nvidia-smi` still reports:

[code]

but as far as I understand, this is because the driver is tied to a certain CUDA version regardless of whi

[2020-05-13 14:08] taketwo commented on #55
I found the cause and it (seemingly) has nothing to do with CUDA and/or Docker. In my "main" container `lld` linker is installed and setup to be used by default. That's all. Switching back to the standard `gold` linker eliminates the issue.

In case you want to reproduce this and check what's going on, simply install `lld` package and add the following to the root CMakeLists.txt of PopSift:

[code

[2020-05-13 17:39] taketwo opened #93 "[request] Make public API headers CUDA-free"
**Is your feature request related to a problem? Please describe.**

I want to use PopSift in a downstream project. The project does not depend CUDA directly and I would like to be able to build it without `nvcc`. However, when I include "popsift/features.h", it transitively includes "popsift/sift_constants.h", which, in turn, has `__device__` variables declared. This means that compilation with a

[2020-05-13 17:41] KhaledSharif opened #94 "[bug] Compilation error: pack expansion does not make use of any argument packs"
**Describe the bug**
Ambiguous compilation error when compiling on Ubuntu 20.04 with CUDA 10.2.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone repository
2. `cd popsift && mkdir build && cd build`
3. `cmake ..`
4. `make -j8`

**Cmake output**

[code]

**Error**

[code]

**Desktop**

Popsift `commit 7fc809b` `branch develop`

[code]
[code]

[code]

[code]

[2020-05-13 17:59] simogasp commented on #93
I understand the request, but you don't need nvcc to build when using popsift as third party.
If you correctly import popsift with the find package as explained in the README.md you would just build your program as a "normal" program.

For reference, you can see here
https://travis-ci.org/github/alicevision/popsift/jobs/685666470#L1813
We build the apps of this repository as a separate project tha

[2020-05-13 18:05] taketwo commented on #93
I import PopSift according to the instructions in README and get errors like this one while building my project:

[code]

Compilers other than `nvcc` do not know what `__device__` is.

[2020-05-13 18:06] simogasp commented on #94
This line makes me think that you may have a conflict of gcc versions. You are compiling with 7.5 but it searches headers in gcc 8.

Can you check at the very beginning of the cmake output which gcc it detects?
Also try `make VERBOSE=1` to see which one is actually used.

[2020-05-13 18:13] simogasp commented on #93
ok this is not a nvcc problem, it might rather be a missing include header in `sift_constants.h`
Can you try, in your code, to use this order of include
[code]

[2020-05-13 18:18] taketwo commented on #93
Thanks for the suggestion, this way it works. Although this is the "natural" order, `clang-format` sorted includes alphabetically and "features.h" ended up above "popsift.h"

So the catch is that "popsift.h" imports "cuda_runtime.h" which, probably, has something like `#define __device__` for non-`nvcc` compilers.

[2020-05-13 18:19] simogasp commented on #93
yes that's the problem, that's why I asked to try that order,
We'll fix that, we always need to include what we use.
Thanks!

[2020-05-13 19:37] KhaledSharif commented on #94
This was an interesting problem to solve. You are correct in assuming that `cmake` was finding differing versions of `g++`. I solved this by switching to using the latest version of `clang` (v10) and using `update-alternatives` to set `/usr/bin/clang++` as the default for `c++`.

[2020-05-13 19:37] #94 closed, assigned to nobody

[2020-05-13 19:56] simogasp commented on #94
are u sure clang 10 works well with cuda 10.2?
According to this
https://gist.github.com/ax3l/9489132
cuda only supports from 3.3 to 8.*

[2020-05-13 20:07] KhaledSharif commented on #94
Works perfectly as far as I can tell. I ran `./Linux-x86_64/popsift-demo` and it output correct features. I'll report back if I run into CUDA issues.

[2020-05-13 20:14] simogasp commented on #94
ok good to know, thanks!

[2020-05-13 20:28] fabiencastan commented on #93
@taketwo A PR to fix that would be welcome.

[2020-05-14 11:26] taketwo commented on #93
I've just noticed that the main "popsift.h" header includes "cuda_runtime.h", this also would need to be eliminated to make public API CUDA-free.

I'm currently prototyping something with PopSift. If this proves to be a success and we decide to go ahead with it, then I'll have time resources to prepare a PR.

[2020-05-17 18:17] #49 closed, assigned to nobody

[2020-05-28 21:19] KhaledSharif opened #96 "[question] How can I reach 30fps at 1080p on a RTX 2080"
**Describe the problem**

From [the PopSIFT paper](https://dl.acm.org/doi/pdf/10.1145/3204949.3208136?download=true), specifically section 7 (conclusion):

I am trying to reproduce this in my own application. I am using a much more powerful graphics card than the one used in the paper, so I assume I should be able to at least achieve the same results. Specifically, I am using an RTX 2080 while the

[2020-05-29 04:41] griwodz commented on #96
There are two things that may help:

The paper claims that the speed is reached for "non-upscaled" images, but the default mode of SIFT is to upscale once. You should config.setDownsampling(0) to speed it up.

Filtering extrema was added later to emulate a feature of VLFeat. It uses a lot of CUDA-unfriendly steps such as indexing and sorting (with CUDA Thrust) to achieve an even distribution of ke

[2020-05-31 16:12] #93 closed, assigned to nobody

[2020-06-02 07:11] BruceXSK opened #98 "[question] Is the function cudaHostRegister() in FeaturesHost::pin() an indispensable operation?"
I tried to use popsift on nvidia Jetson TX2 which is arm64 architecture. But the function cudaHostRegister() is not available on arm64 platform.
I consulted the CUDA TOOLKIT DOCUMENTATION and found that it said

So is it right that the program might be slower without this operation, but will still work correctly? Or is there any other methods could be used instead of the cudaHostRegister?
Thanks a

[2020-06-02 07:32] griwodz commented on #98
I have never had a platform with shared CPU/GPU memory for Popsift development, although I do somewhat know the Tegras.

I see two ways to fix this:
1. extending Config with a bool that is automatically filled with cudaDeviceProp information that confirms if a platform does fully support Unified Memory.
2. make a new class FeaturesHostManaged and a new function Pyramid::get_descriptors_managed
The

[2020-06-02 07:36] BruceXSK commented on #98
I will try these methods, really appreciate your help.

[2020-06-02 07:36] #98 closed, assigned to nobody

[2020-06-14 04:00] tkircher commented on #80
I have the exact same configuration, but commit f63d305. Same issue, bad descriptors.

[2020-06-24 07:38] kunalkhosla93 opened #99 "Segmentation fault (core dumped) error in Ubuntu 16.04 while executing popsift-demo"
Getting an error of Segmentation fault (core dumped)
on running the popsift-demo.
like : popsift-demo -i /home/kunal/Downloads/input_1.png
I am using the popsift provided here https://github.com/acmmmsys/2018-PopSift

Others: CUDA 11
I am using boost 1.70
cmake 3.13
Ubuntu: 16.04

It was working inititally, but a day later I started getting this error. I tried rebuilding the popsift-demo file, but

[2020-06-24 09:32] simogasp commented on #99
It would be better if you use the version in this repository because that one was just a snapshot and it has not been maintained ever since.

[2020-06-24 10:23] kunalkhosla93 commented on #99
@simogasp, Tried the same and got the same error. I am using CUDA 11.0, Begining to wonder if its a CUDA error?

[2020-06-24 10:27] simogasp commented on #99
well, we never tested with cuda 11 but it's strange that it was working and then it stopped.
Is there any error message?

[2020-06-24 10:33] kunalkhosla93 commented on #99
@simogasp The error is : Segmentation fault (core dumped). Nothing else is printed.

[2020-06-24 10:56] simogasp commented on #99
if u are using Ubuntu 16.04 which compiler version are u using to make it work with Cuda 11?

[2020-06-24 11:24] kunalkhosla93 commented on #99
@simogasp I am only using cmake to build and install popsift-demp. The version of nvcc compiler is also 11.

[2020-06-24 16:00] kunalkhosla93 commented on #99
After some digging i found that the function boost::filesystem::exists(line 285 in src/application/main.cpp) was not working for me. I directly used the function inputFiles.push_back( inputFile );
and the error (seg fault) disappeared. I think there is a compatibility issue with the cmake version(3.13) and boost(1.70) i was using because of which i may be getting the error. Thanks @simogasp for yo

[2020-06-24 16:00] #99 closed, assigned to nobody

[2020-07-15 17:46] Paul92 opened #101 "[question] Feature matching across multiple frames"
I am trying to do a feature matching across a small sequence of frames - basically a keypoint tracking. In the end, I'd like to get a list of positions for each keypoint in each frame. The frames are from a video sequence with small movements.

I managed to integrate the keypoint extraction sucessfuly, but I don't really understand how feature matching works - it seems to me that the only function

[2020-07-24 08:22] simogasp opened #102 "[cuda] Support for cuda 11"
Cuda 11 has dropped the support for sm_30 and sm_32 architecture.
https://docs.nvidia.com/cuda/cuda-toolkit-release-notes/index.html#deprecated-features
Also, it deprecates other older architectures:
[code]
To reflect this, the script for choosing the CC should be updated as follows:
[code]
@griwodz Am I correct?

[2020-07-24 08:26] simogasp commented on #102
Ah, it also introduces CC 8.0, shall we add it too?
In that case
[code]

[2020-07-24 14:18] simogasp commented on #102
It seems to be working with cuda 11 https://travis-ci.org/github/alicevision/popsift/jobs/711458057

[2020-07-24 14:20] simogasp commented on #102
Here are the changes https://github.com/alicevision/popsift/commit/568a4c93426d4549c4896f3b46914d768356cab9

[2020-08-10 09:44] #102 closed, assigned to simogasp

[2020-08-25 08:34] lizhaohu opened #105 "run image crash [bug]"
**Describe the bug**
When I run popsift for one image crash,The default parameters are used
my email: 15120377@bjtu.edu.cn
![popsift_test_crash1](https://user-images.githubusercontent.com/15177738/91151867-cd5a2d00-e6f0-11ea-8c24-8961f3ef2c54.jpg)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clea

[2020-08-25 14:31] simogasp commented on #105
are you using `popsift-demo`? If so can u show the log?

[2020-08-26 08:43] lizhaohu commented on #105
@simogasp yes, i using popsift-demo, but But I set the config parameter to：
![image](https://user-images.githubusercontent.com/15177738/91281496-be3fb180-e7ba-11ea-8b85-61847223644f.png)

and crash at get_descriptor function(sift_pyramid.cu file 317 line).
Before that, I printed out the number of feature points： ext_total: 19558, ori_total: 44599.
The error log:
![image](https://user-images.github

[2020-08-26 08:59] griwodz commented on #105
Strange. That error was typical for ext_total==0, but not when ext_total>0. It is possible that the error is actually somewhere else.

Could you enable PopSift_ERRCHK_AFTER_KERNEL in CMake and recompile? That should activate error checking in lines that say POP_SYNC_CHK. Your code will run slower and still crash, but closer to the true origin of the crash.

What is your GPU? Do your CPU and GPU sh

[2020-08-26 09:15] lizhaohu commented on #105
@griwodz ,Thank you for your reply. I've found out the reason.  I set _max_extrema to 10000, and when initializing pyramid ，it set dbuf_shadow.desc = malloc(2 * _max_extrema).  I extracted 44599 descriptors in this image

[2020-08-26 09:28] griwodz commented on #105
@lizhaohu Thanks for finding the reason for the crash.

That is still very strange. In the figure of the Config that you show above, you are setting _max_extrema = 10000, but you have found 19558 (ext_total).

That should not be happening. There is a line:
`    if( indicator && write_index < d_consts.max_extrema )`
in s_extrema.cu:537 that should prevent this from happening.
`d_consts.max_extrema`

[2020-08-26 09:41] griwodz commented on #105
PS: a hotfix to prevent a crash over 100% additional descriptor seems to be simple.
The kernel ori_prefix_sum() in s_orientation.cu (lines 344-345) could compare with d_consts.max_extrema and (2* d_consts.max_extrema) and ignore all extrema and descriptors above the limit.

It would be better, of course, to reallocate memory after that kernel.

[2020-08-26 10:29] lizhaohu commented on #105
I didn't set max_extrema = 20000 anywhere else. In my understanding, max_extrema means the maximum number of features that can be extracted from each layer of pyramid. So I got that 19558 was the right result

[2020-08-26 10:30] lizhaohu commented on #105
@griwodz I didn't set max_extrema = 20000 anywhere else. In my understanding, max_extrema means the maximum number of features that can be extracted from each layer of pyramid. So I got that 19558 was the right result

@griwodz In sift_ pyramid.cu file the reallocaxtreme function will be re-malloc the memory

[2020-08-26 10:31] lizhaohu commented on #105
@griwodz Great. Thank you very much

[2020-09-03 19:33] kunalkhosla93 opened #106 "[question]"
Hi,

Is there any way of seeing the images after matching, where one can see the correspondences between 2 images.

I wish to visualize the data after popsift-match.

I am trying to use opencv but currently, thats turing out to be little tricky. Is it possible to download the accepted matches to the CPU directly. Then i can plot them. If there is any other alternative or popsift function that I am

[2020-09-09 11:51] lizhaohu opened #107 "[bug]malloc->delete"
**Describe the bug**
![image](https://user-images.githubusercontent.com/15177738/92594562-87e35580-f2d5-11ea-88fb-e3f1c44c1ed2.png)
use malloc ask for  memory of _Imagedata, but use delete to free it？

[2020-09-09 12:25] #105 closed, assigned to nobody

[2020-09-10 05:17] griwodz commented on #107
Thank you!
PR #108 changes it to free()

[2020-09-10 06:24] griwodz commented on #101
There is currently no code that downloads the results. It is easy enough to add it, but it doesn't exist.

There two main reasons:
(1) For the AliceVision pipeline, we need the matching at a different stage of the pipeline. We have so far no application for the integration of matching into the extraction stage.
(2) The implementation uses brute-force matching. That is wasteful, someone should impl

[2020-09-11 02:36] #107 closed, assigned to nobody

[2020-09-17 04:38] #36 closed, assigned to nobody

[2020-09-18 16:56] #57 closed, assigned to nobody

[2020-09-29 05:26] kunalkhosla93 opened #110 "Error when linking to libpopsift.a (__cxa_init_primary_exception. Undefined reference to std::__exception_ptr::exception_ptr::exception_ptr(void).)"
is in function SiftJob::~SiftJob() undefined reference to __cxa_init_primary_exception. Undefined reference to std::__exception_ptr::exception_ptr::exception_ptr(void). the second error is in std::promisepopsift::FeaturesBase*::~promise(): undefined reference to __cxa_init_primary_exception and std::__exception_ptr::exception_ptr::exception_ptr(void)**

I am getting these errors when linking to li

[2020-09-29 05:51] simogasp commented on #110
Could you please post your configuration (os, system, cuda version etc) and the cmake or the command line u used to build the program

[2020-09-29 06:03] griwodz commented on #110
The reason for this could be that Popsift and the program that uses it are compiled with different compilers, or different versions of the same compiler. Another reason could be that the linker is in C mode (e.g. linking with gcc or ld) but it needs to be in C++ mode.

Some people on StackOverflow have fixed it by linking -lstdc++, but that does not look like a long-term solution:
https://stackove

[2020-09-29 13:21] kunalkhosla93 commented on #110
Hi @simogasp
My host is a x86_64 ubuntu comprising of nvidia toolkit 10 and my target is a jetson tx2. I built the libraries on my target, transfered them to host, and linked them. I just checked the compiler versions, both are different, Could this be a cause of error? Also @griwodz I tried linking with -lstdc++ but still the same issue. I have a follow up question: if i want to eventually use th

[2020-10-01 05:34] kunalkhosla93 commented on #110
Thanks for your reply guys, it seems due to different versions of the compiler, I got the issue. I ultimately compiled on the same version and that fixed my problem.

[2020-10-01 06:00] griwodz commented on #110
I was too slow to answer, but yes: what you tried to do will often fail with C++ programs, but with CUDA, it is much more important to have absolutely identical versions.

[2020-10-01 06:51] kunalkhosla93 commented on #110
Although unrelated @griwodz , is it possible to somehow see popsift keypoints using opencv functions like drawKeypoints.

[2020-10-01 09:18] #110 closed, assigned to nobody

[2020-10-01 09:24] griwodz commented on #110
@kunalkhosla93 Sorry, but I don't know that. If it can show SIFT keypoints from the OpenCV version of SIFT, it should be quite easy to copy PopSift descriptors into the OpenCV descriptor data structure and use that function.

[2020-10-01 09:41] kunalkhosla93 opened #111 "I recently thought of using the inbuilt match function of popsift, but getting segmentation error in that step[bug]"
**Describe the bug**
Segmentation error in step lFeatures->match(rFeatures);

**To Reproduce**
I am using nsight eclipse, i linked the libpopsift library with my application and it compiled successfully. My mode was changed to Matching mode as per the norm:
But the program crashes with segmentation fault on the matching step. Wonder why that is? Any leads will be appreciated.

**Desktop (please co

[2020-10-01 11:15] kunalkhosla93 commented on #111
Does the libpopsift.a library cme with match function?

[2020-10-01 11:22] griwodz commented on #111
PopSift has an experimental brute-force matching function that is not faster than existing heuristic matchers for the CPU.

You can see how to call it by reading popsift-match. You have to write your own code for getting those matches from the GPU to the CPU, and it would be much appreciated if you could contribute that code to the project.

[2020-10-01 20:52] #96 closed, assigned to nobody

[2020-11-10 10:49] jay1230d opened #117 "no descriptors extracted if i set the deviceInfo ( speed is not stable) [bug]"
**Describe the bug**
i can extract descriptors by using popsift-demo, but after i modified the code in line 302 of src/application/main.cpp (deviceInfo.set( 0, print_dev_info ) → deviceInfo.set( 1, print_dev_info ) )  , there is no descriptors extracted even i used the same image.

this is the error log:
Warning: no descriptors extracted
Number of feature points: 0 number of feature descriptors: 0

[2020-11-10 14:56] griwodz commented on #117
Are you doing that to use the second NVidia card in your system?

I have very rarely had the opportunity to use a computer with 2 NVidia cards, there is a lot of potential for bugs when you attempt to use the second card, I'm afraid. You can use any NVidia card you want by setting CUDA_VISIBLE_DEVICES as an environment variable, as discussed here:
https://developer.nvidia.com/blog/cuda-pro-tip-con

[2020-11-11 08:25] jay1230d commented on #117
I tried use the second card by setting CUDA_VISIBLE_DEVICES  before, but that leads to another problem:
if the second card is also used by another program, the speed of extracting descriptors is not stable, usually it costs 20ms, but sometimes it can up to 400ms. The abnormal rate is about one in twenty.
my nvidia card is 2080ti with cuda 9.0, system is centos 7.
thank you.

[2020-11-11 10:10] griwodz commented on #117
I can only guess what the reason may be.

First of all, a PopSift instance is stuck on a single card. Nobody has contributed code for using several cards to extract descriptors from a single image, because SIFT is not such a complicated algorithm that it makes sense for our use cases. It would be great if you know someone who is interested in contributing code for it.

The delays you see may be be

[2020-11-11 10:20] jay1230d commented on #117
when the delay happens, only half of memory is used. and i just only used a single card by setting CUDA_VISIBLE_DEVICES=1.
this problem confuse me several days, i don't know what's wrong.

[2020-11-11 10:47] griwodz commented on #117
Is the other application also using CUDA? It might simply use all of the CUDA cores. NVidia GPUs didn't use preemptive scheduling and I believe that modern cards don't do that, either.

[2020-11-11 11:54] jay1230d commented on #117
yes, the other application is also using CUDA.  but I am not sure whether it use all of the CUDA cores because i don't know how to check the number of used CUDA cores in Linux.
I tried the same application on Nvidia 1080ti, and it is ok.  Is it possible that Popsift is not very compatible with 2080ti?

[2020-11-11 12:00] griwodz commented on #117
It was written to work well on a 980, I have a 1080 now and no RTX. So, yes, absolutely possible.

[2020-11-11 12:06] jay1230d commented on #117
do you have any plan to check this problem on 2080ti?

[2020-11-11 12:48] griwodz commented on #117
Unfortunately, there is no project these days that pays for an RTX card or a person to do the actual work.

[2020-11-11 12:50] jay1230d commented on #117
ok, thank you anyway

[2020-11-11 12:57] griwodz commented on #117
I'm sorry about that, but giving a different answer would be lying.

Btw.: good tools to check activity on your CUDA cards are the NVidia Visual Profiler: https://developer.nvidia.com/nvidia-visual-profiler
and the NVIDIA Nsight Systems: https://developer.nvidia.com/nsight-systems

[2020-11-11 15:02] simogasp commented on #117
I can confirm that the code was working with an RTX 2080 Ti and CUDA 10.
@dousseSurgar maybe has some more info for more recent cards or cuda versions

[2020-11-12 01:54] jay1230d commented on #117
I am not sure what's the meaning of 'was working', have you check the speed of Popisft. Whether the speed of Popsift is stable when the nvidia card memory is also used by other application. @simogasp

For me, I run the following code with 2080ti and cuda 9.0, and if the RTX card memory is also used by other application, the Popsift speed is not stable.

     for (int i = 0; i < 1000; ++i)

[2020-11-12 09:31] kunalkhosla93 opened #118 "boost: mutex lock failed in pthread_mutex_lock: Invalid argument error"
I wish to run popsift on a Nvidia tx2, The first method i thought of was:

1. Cross compilation method:

Here i am tried creating the libpopsift.a file using cmake and a tool chain file. The libposift was generated successfully, but not the popsift-demo executable.
My host is a traditional ubuntu system (18.04). I wonder why that happened.
I linked my application code with the relevant libpopsift(

[2020-11-12 09:38] simogasp commented on #117
It "was" working because I don't have that machine anymore to test it.
If the GPU is also used by the OS or other applications I guess it's normal to expect some performance loss if it is used intensively.
On that machine we were extracting SIFT feature in real time (~25fps) for full HD videos, we never noticed major issues (and the GPU was used to render 3D models via opengl at the same time).

[2020-11-12 10:24] jay1230d commented on #117
ok, I understand.
I test my application again, the Popsift is good if i used the command **./popsift-demo** whether the GPU is also used by other application.
But if i used command **CUDA_VISIBLE_DEVICES=0 ./popsift-demo**, and the GPU is also used by other application, the speed of Posift would be not stable.

[2020-11-12 17:43] dousseSurgar commented on #117
Hello everyone,
As mentioned @simogasp, I used it with an RTX 2080, and colleagues already tested it with RTX 2080ti. We never encountered such problems, although we were using cuda 10 and we have only one GPU.
We chosed cuda 10 because the RTX 2080/2080ti has compute capabilities set to 7.5 that is not handled by CUDA 9.0 (up to 7.0 while cuda 10 <= 7.5).
You'll find the turing architecture suppo

[2020-11-13 09:23] jay1230d commented on #117
thank you for advice @dousseSurgar , I tried to add these two commands `list(APPEND CUDA_NVCC_FLAGS "-arch=compute_70")` and `list(APPEND CUDA_NVCC_FLAGS "-code=sm_70")` into CMakelist.txt, but it doesn't work.

I did more other tests and found a way to avoid this problem.
The condition for this problem is that there must be a free graphics card in the system. If all cards are used, the issue will

[2020-11-13 10:54] griwodz commented on #117
The observation is confusing.

But the discussion shows that the device settings are not safe. PopSift does not call cudaSetDevice() before every cuda function call or kernel start. It would be better to add that and add explicit CUDA device selection to the PopSift constructor. I don't know how slow cudaSetDevice() is, that was our reason for avoiding it. Adding cudaSetDevice() calls "everywhere"

[2020-11-14 02:27] #117 closed, assigned to nobody

[2020-11-16 11:48] lizhaohu opened #119 "[question]"
hi:
In your program, data is exchanged through global variables, such as:
![image](https://user-images.githubusercontent.com/15177738/99249102-7faf1580-2844-11eb-9751-46b37fc3dfe2.png)

Now I have a machine with four GPUs and want to calculate four images at the same time (each image is on a card), so I set it up：
![image](https://user-images.githubusercontent.com/15177738/99249165-9bb2b700-2844-1

[2020-11-16 12:52] griwodz commented on #119
Hi, I plan to replace these global memories with Managed Memory in the near future, but that doesn't solve your problem right now.

The memory on the device side exists once for every card. That means that you don't need the [MAX_GPU_CARD] for the GPU-sided variables dct and dbuf, but you need the arrays for the CPU-sided variables hct, hbuf and dbuf_shadow.
Also the __constant__ memory for Gaussi

[2020-11-18 09:47] mitjap commented on #117
I would recommend one instance of `PopSift` per GPU. Then when `PopSift` makes multiple worker threads every thread should call `cudaSetDevice` only once. Everything else should then work just fine.

[2020-11-19 14:51] kunalkhosla93 commented on #98
@BruceXSK, may I know what are the steps to use popsift in the Tegra device. Did u cross compile?? If not then how.?

[2020-11-19 15:05] kunalkhosla93 opened #120 "Is popsift platform independent."
I wish to use popsift on the Nvidia tx2 dev kit. I am aware that popsift creates a libpopsift which can be linked to a application and used by called third party API's. However there is no information on using arm on say a popsift on a platform like the tx2(arm64). Is the popsift meant only for the traditional i386 architecture?

The second part of the question, is that if I have to use popsift on

[2020-11-20 13:02] mitjap commented on #117
My proposed solution to this issue is here https://github.com/alicevision/popsift/pull/121.

[2020-11-28 22:51] mitjap opened #122 "minor suggestions for code improvement"
Shouldn't this check bi inside of `ModeFunctions<Config::OpenCV>::refine` function?
https://github.com/alicevision/popsift/blob/fafcad973bd7b1740acd4c276922fe039516a787/src/popsift/s_extrema.cu#L447

There is already a comment in place suggesting this:
https://github.com/alicevision/popsift/blob/fafcad973bd7b1740acd4c276922fe039516a787/src/popsift/s_extrema.cu#L160

Hope I'm not nitpicking here :)

[2020-11-29 01:00] mitjap commented on #122
https://github.com/alicevision/popsift/blob/74f705301257ca00e096f62978505c3d8e078e3e/src/popsift/s_extrema.cu#L203
https://github.com/alicevision/popsift/blob/f63d305131971c2cf96b43468304f1bfea25cb30/src/popsift/s_extrema.cu#L255
https://github.com/alicevision/popsift/blob/f63d305131971c2cf96b43468304f1bfea25cb30/src/popsift/s_extrema.cu#L485
I also don't think this `2.0f ` factor should be here.

[2020-11-29 01:08] mitjap commented on #122
Is there a reason that values values in textures are multiplied by `255.0f`? Float values are usually in range [0-1]. I don't see any reason for doing so and I think can be removed.

https://github.com/alicevision/popsift/blob/f63d305131971c2cf96b43468304f1bfea25cb30/src/popsift/s_pyramid_build_ra.cu#L54
https://github.com/alicevision/popsift/blob/f63d305131971c2cf96b43468304f1bfea25cb30/src/popsi

[2020-11-29 01:23] mitjap commented on #122
I think there might be an error in some cases.

In case where algorithm reaches MAX_ITERATIONS then variable `n` might have been modified in `ModeFunctions<>::refine` by `-1` or `+1` if `d` is `>0.6`.  Later on `n` is again modified by `d` even though part of `d` was already taken into account in `refine`.
https://github.com/alicevision/popsift/blob/f63d305131971c2cf96b43468304f1bfea25cb30/src/pop

[2020-11-29 15:45] griwodz commented on #122
@mitjap Sorry that I'm silent - end of semester, examining, grading, admission of new students etc.
I'm glad that someone is giving the code a thorough review!

[2021-01-09 14:49] #106 closed, assigned to nobody

[2021-01-16 10:39] #101 closed, assigned to nobody

[2021-02-04 12:09] ByronGe opened #125 "Could not get current device ID initialization error"
hi，
When I use DCNv2 model and popsift at the same time，it happened to Could not get current device ID initialization error

[2021-02-04 13:11] griwodz commented on #125
Could you give some more information? I have never seen that.

[2021-02-07 03:20] ByronGe commented on #125
Hi griwodz,
Thanks for reply
We trying to use your project as a rpcserver. When I tried it as a single program(like a offline demo, without any server invokes) everything runs fine. However, once we started it as a server, we got the mentioned err: "could not get current device ID initiallization

We supsect it might be the incompatible issue between DCNv2 and yours. Because without DCNv2, start p

[2021-02-07 18:28] #111 closed, assigned to nobody

[2021-02-08 09:33] griwodz commented on #125
The line that creates the error calls cudaGetDevice( &currentDev ). This function works only if there is a CUDA card that supports one of the CUDA Compute Capabilities compiled into the popsift application you use.

Is it possible that DCNv2 reserves your card 0 (the default card) exclusively, making it impossible for other CUDA programs to use the same card? Could you write a tiny CUDA program th

[2021-05-03 15:22] granger35 opened #130 "[bug] Runtime"
**Describe the bug**
Debug Multithread runtime library in debug (/MDd) mode replaced by the release one (/MD) which result in a link error.

**To Reproduce**
Steps to reproduce the behavior:
1. CMake for Visual Studio 2019, arch x64 and BUILD_SHARED_LIBS=True, PopSift_BUILD_EXAMPLES=False
2. Load the .sln in Visual Studio 2019,
3. rebuild in debug mode for x64,
4. See warning related to substituti

[2021-05-03 19:29] simogasp commented on #130
The debug mode is covered here
https://github.com/alicevision/popsift/blob/9dd7ae425340288b7b639b3fab42bc5ac1d529a2/CMakeLists.txt#L134-L148
It has been tested in vcpkg for every combination static/dynamic debug/release and there was no problem there
https://github.com/microsoft/vcpkg/pull/10979

Could it be that it is "DEBUG" instead of "Debug"?

[2021-05-04 11:42] granger35 commented on #130
Thank you simogasp for your feedback.
It is "Debug". I have installed popsift with vcpkg, and everything was working perfectly. But we would like to create a conan recipe to have a common dependency manager whatever the targeted platform. Our conan recipe works well for Ubuntu with gcc, but we have this issue on MSVC, and when testing the build manually, we had the previous error related to uncomp

[2021-05-04 12:14] simogasp commented on #130
Just to be sure, you are getting this when building popsift, not when building your project that links to popsift?

With your Conan recipe, are you using ninja to build or are you generating the VS solution etc?
Now that I think about it, the tests in vcpkg only use ninja and I didn't test the build directly in Visual Studio. I will try to test that to see if I can reproduce the problem.

BTW it's

[2021-05-04 12:28] granger35 commented on #130
Yes, it is when building popsfit project, and yes again with VS, not with ninja.
Keep me inform if you reproduce the problem on VS, and for sure, we will share the conan recipe as soon as it works.

[2021-05-04 17:03] simogasp commented on #130
It is actually broken when building from VS :-(

Could you try to replace these lines from the cmake snippet above
[code]
with this ones
[code]
That should be a proper way to init the flags.

[2021-05-04 18:34] granger35 commented on #130
Thank you, it does the job.
You can find the conan recipe on the following link:
https://github.com/SolarFramework/conan-solar/tree/master/recipes/popsift/1.0.0
You can create a package by calling for shared release version:
```conan create . popsift/1.0.0-rc3@ --build=missing -o shared=True```
and
```conan create . popsift/1.0.0-rc3@ --build=missing -o shared=True -s build_type=Debug```
for debug

[2021-05-25 20:59] granger35 opened #131 "How to retrieve matches [question]"
**Describe the problem**
When calling FeaturesDev->match(FeatureDev), how can i retrieve the matches ? Is it by using getReverseMap( ) ? Your sample code show the matches using the match_matrix, but it is delete at the end of the function.

Thank you !

[2021-05-27 10:44] griwodz commented on #131
There is currently no code that downloads the results. It is easy enough to add it, but it doesn't exist.

There two main reasons:
(1) For the AliceVision pipeline, we need the matching at a different stage of the pipeline. We have so far no application for the integration of matching into the extraction stage.
(2) The implementation uses brute-force matching. That is wasteful, someone should impl

[2021-06-02 16:40] #119 closed, assigned to nobody

[2021-06-02 16:40] #118 closed, assigned to nobody

[2021-06-02 16:40] #120 closed, assigned to nobody

[2021-06-18 23:01] #125 closed, assigned to nobody

[2021-08-19 10:08] KelvinQQ opened #134 "[question]how to get the xpos and ypos on the input image？"
according to get features from job， the xpos and ypos are not on the input image, then xpos and ypos divided by pow(2, config.getUpscaleFactor()), but the xpos and ypos are still not correct on the input image. Beacause matching two images and getting good points and findHomography and warpPerspective don't get the correct transform matrix and image

template image ↓
![模板图](https://user-images.git

[2021-09-23 08:20] qzhang702 opened #136 "[question]how can I set config to extract the same features for same images?"
deviceInfo.set( 0, false );
sift_config.setThreshold(0.04);
sift_config.setEdgeLimit(10);
sift_config.setNormMode(popsift::Config::Classic);
sift_config.setFilterSorting(popsift::Config::SmallestScaleFirst);//RandomScale
sift_config.setGaussMode(popsift::Config::OpenCV_Compute);
sift_config.setMode(popsift::Config::OpenCV);
sift_config.setDownsampling(0);
sift_config.setOctaves(4);
sift_config.set

[2021-10-21 14:38] dagata-mining opened #137 "[bug] s_filtergrid.cu does not compile missing thrust/host_vector.h header"
When building popsift latest version on ubuntu 20.04
s_filtergrid.cu misses a header and cannot find host_vector
Please add to header
#include <thrust/host_vector.h>

[2021-10-22 20:24] simogasp commented on #137
at some point it will be fixed by #133

[2022-01-11 08:57] MinYang-01 opened #138 "[bug]cannot use thread_local specifier for a __constant__ variable ConsoleApplication1 E:\Desktop\VS-Test\09\ConsoleApplication1\popsift\gauss_filter.cu 21"
**Describe the bug**
A clear and concise description of what the bug is.
***[bug1].  cannot use thread_local specifier for a __constant__ variable	ConsoleApplication1	E:\Desktop\VS-Test\09\ConsoleApplication1\popsift\gauss_filter.cu	21
***[bug2]. error C2086 "popsift::GaussInfo popsift::d_gauss": redefine ConsoleApplication1 E:\Desktop\VS-Test\09\ConsoleApplication1\popsift\gauss_filter.cu 19
***[

[2022-03-15 09:29] gloria111 commented on #91
it works,thanks

[2022-04-27 20:48] #131 closed, assigned to nobody

[2022-04-27 20:48] #134 closed, assigned to nobody

[2022-04-27 20:48] #136 closed, assigned to nobody

[2022-06-14 16:58] Azhng opened #139 "[request] using exception for error handling"
**Is your feature request related to a problem? Please describe.**
Currently, Popsift directly calls `exit()` function ([example](https://github.com/alicevision/popsift/blob/develop/src/popsift/common/debug_macros.h#L120-L123)) when it encounters failures and directly logs into stderr.
Our application directly links to popsift and this results in our application crashing. This is quite difficult t

[2022-06-14 20:53] simogasp commented on #139
Thanks, feel free to submit a PR, it is indeed better to have a gracious way to end after an error that can be caught from another project using the library.

[2022-08-04 03:34] kunalkhosla93 opened #140 "Memory leak when running enqueue, job->get() in while loop"
Hi,

I am trying to run my code using pospsift in a while loop. However, there is a Memory leak when i am running jobs in a while loop.

My CPU usage increases continously until the program is terminated.

The pseudocode of which is written below:

in main:

1. While(1)
2. SiftJob* job = Popsift.enqueue(w,h,img_data)
3. popsift::Features* features = job->get()
4. Extract keypoints and desc with ge

[2022-08-04 07:43] simogasp commented on #140
without seeing the actual code it's hard to tell.
But you can try to use `unique_ptr` instead of raw pointers, no `delete` needed at the end
[code]

[2022-08-04 13:05] kunalkhosla93 commented on #140
Thanks for the quick revert. But getting an error now munmap_chunk():Invalid Pointer

[2022-08-04 21:25] simogasp commented on #140
Without the code is difficult to tell.
Try to look at here where it is used and see if there is something that you might be doing differently
https://github.com/alicevision/AliceVision/blob/develop/src/aliceVision/feature/sift/ImageDescriber_SIFT_popSIFT.cpp#L34

Also, what are you using for matching the features? OpenCV? Your own code?

[2022-08-05 09:34] kunalkhosla93 commented on #140
Hi,

For Matching, its our own code. Will take a look at the aliceVision code. Thanks.

[2022-08-05 15:11] kunalkhosla93 commented on #140
@simogasp, i had a look at there code, but they dint use a while condition in there code. I want to run the program in a while loop as written in the pseudo code. Could you suggest a way of running steps 2,3 in a while loop. Ill be happy to share any other details that you find useful.

[2022-08-05 15:21] simogasp commented on #140
It's a lot of code but basically it is done here
https://github.com/alicevision/AliceVision/blob/develop/src/software/pipeline/main_featureExtraction.cpp#L237

That for loop will extract the features for all the image in a list using a single instance of that ImageDescriber from the previous link. Here there is further layer of complexity because we are potentially using different extractors simul

[2022-08-05 16:17] kunalkhosla93 commented on #140
I dont have a list but frames coming in continously from a live feed, hence the while loop. I am using features from getFeatures() api provided by popsift.

[2022-08-31 07:36] gloria111 commented on #74
seems  the debug build is broken on vs:
![image](https://user-images.githubusercontent.com/26295563/187620361-c479cb4b-af15-49c8-9b13-ee6980c5e0a4.png)

[2022-08-31 09:35] simogasp commented on #74
What cuda version are you using?
We probably need to update the arch flag for the newer versions of cuda

[2022-08-31 09:41] gloria111 commented on #74
the CUDA version is 11.6
NVIDIA GPU Computing Toolkit\CUDA\v11.6

[2022-09-01 06:47] gloria111 commented on #91
I try to get all the descriptors and feature points on the CPU with following codes
 `std::unique_ptr<popsift::Features> sf;`
`sf.reset(sfeatures);`
`popsift::Feature* sfeature_list = sf->getFeatures();`
`std::vector<float> spoints(4 * numFeatures);`
`std::vector<float> sdesc(128 * numFeatures);`
`int width = 1920;`
`int height = 1080;`

`for(size_t i = 0; i < numFeatures; i++)
  {
        popsift

[2022-09-01 07:40] simogasp commented on #140
could #91 be useful?

[2022-09-03 10:55] kunalkhosla93 commented on #140
Issue resolved after using latest repository.

[2022-09-03 10:55] #140 closed, assigned to nobody